.about-us-elem {
  position: relative;
  max-width: 585px;
  padding-left: 110px;
  margin-right: 65px;
  margin-bottom: 60px;

  i{
    position: absolute;
    top: -7px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: #5dbdfe;
    font-size: 48px;
    color: #fff;
  }

  h3 {
    margin-bottom: 26px;
    font-size: 24px;
    font-weight: 400;
  }

  p {
    max-width: 395px;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
  }
}