.about-us {
  padding-top: 126px;
  padding-bottom: 59px;
  background-color: #fff;

  .container {

    .about-us-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  @include breakpoint(medium) {

    .container {

      .about-us-list {
        justify-content: center;

        .about-us-elem {
          width: 100%;
          padding-top: 50px;
          padding-left: 0;
          margin-top: 15px;
          margin-right: 0;
          text-align: center;

          i {
            top: -45px;
            left: 50%;
            transform: translateX(-50%);
          }

          p {
            max-width: 100%;
          }
        }
      }
    }
  }

  @include breakpoint(small){
    padding: 40px 0;
  }
}