.advantages-elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 272.5px;
  margin-bottom: 60px;

  .advantages-elem__number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83px;
    height: 90px;
    padding-left: 7px;
    margin-bottom: 26px;
    border-radius: 100%;
    border: none;
    background-color: #fff;
    font-size: 45px;
    font-weight: bold;
    line-height: 24px;
    color: #f34235;
  }

  h3 {
    margin-bottom: 25px;
  }

  p{
    font-size: 20px;
    line-height: 34px;
    text-align: center;
  }

  @include breakpoint(small-tablet-portrait){
    max-width: 550px;
  }
}