.advantages {
  padding-top: 117px;
  padding-bottom: 60px;
  background-color: #f34235;
  color: #fff;

  .section-description {
    margin-bottom: 64px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include breakpoint(medium){
    .container {

      .advantages__list {
        justify-content: center;
      }
    }
  }

  @include breakpoint(small){
    padding: 40px 0;
  }
}