.blog-item {
  position: relative;
  min-width: 570px;
  min-height: 350px;
  box-shadow: 2px 2px 18px -3px rgba(0,0,0,0.75);

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  a {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background-color: #5dbdfe;
    font-size: 24px;
    color: #fff;
    opacity: 0;
    box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.6s cubic-bezier(0.25,0.8,0.25,1);

    &:hover {
      color: #6d0fae;
    }
  }

  .blog-item__panel {
    position: absolute;
    bottom: 0;
    z-index: 3;
    width: 100%;
    padding-bottom: 30px;
    padding-left: 35px;
    overflow: hidden;

    .time {
      color: #cfcfcf;
      font-size: 16px;
      line-height: 34px;
      transform: translateX(-100%);
      transition: all 0.6s cubic-bezier(0.25,0.8,0.25,1);

      time {
        font-weight: bold;
      }
    }

    h3 {
      color: #fff;
      font-size: 24px;
      line-height: 36px;
      transform: translateX(-100%);
      transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);
    }
  }


  &:after {
    content: '';
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 56%, transparent 100%);
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);
  }

  &:hover {

    a {
      opacity: 1;
    }

    h3 {
      transform: translateX(0);
    }

    .time {
      transform: translateX(0);
    }

    &:after {
      opacity: 1;
    }
  }
}