.blog {
  padding-top: 117px;
  background-color: #f1f1f1;
  box-shadow: 0px 4px 15px -5px rgba(0,0,0,0.19);

  h2 {
    margin-bottom: 32px;
  }

  p {
    margin-bottom: 65px;
  }

  .container {
    display: flex;
    justify-content: space-between;
 }

  @include breakpoint(medium){

    .container {
      flex-direction: column;
      align-items: center;

      .blog-item {
        width: 100%;
        min-width: auto;
        margin-bottom: 30px;

        .blog-item__panel {
          padding-left: 10px;
          padding-bottom: 10px;
          width: 80%;
        }
      }
    }
  }

  @include breakpoint(small){
    padding: 40px 10px;
  }
}