.button-up {
  position: absolute;
  right: 41px;
  bottom: 139px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #5dbdfe;
  cursor: pointer;
  box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  i{
    font-size: 50px;
  }

  &:hover {
    background-color: #559fda;
    box-shadow: none;
  }

  @include breakpoint(extra-small){
    right: 50%;
    bottom: 138px;
    transform: translateX(50%);
  }
}