.contact {
  position: relative;
  padding-top: 117px;
  padding-bottom: 40px;
  background-color: #2c2c2c;
  color: #fff;

  h2 {
    margin-bottom: 65px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      font-size: 20px;
      color: #fff;

      &:first-child {
        font-weight: bold;
        margin-bottom: 13px;
      }
    }

    span {
      font-size: 14px;
      color: rgba(117, 114, 114, 0.72);
    }

  }

  @include breakpoint(extra-small){
    padding-top: 40px;
    text-align: center;

  }
}