.faq-item {
	position: relative;
    display: flex;
    flex-direction: column;
	margin-bottom: 30px;
	border-radius: 4px;
	background-color: #ff4538;
    box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.1);
	cursor: pointer;

	.faq-item__header {
		position: relative;
		padding-top: 20px;
		padding-right: 70px;
		padding-bottom: 20px;
		padding-left: 20px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		font-size: 24px;
		font-weight: 400;
		line-height: 34px;
		color: #fff;
		cursor: pointer;

		&:after {
			content: "\e147";
			position: absolute;
			top: 19px;
			right: 19px;
			font-family: "Material Icons";
			font-size: 36px;
			color: #fff;
		}
	}

	.faq-item__body {
		display: none;
		overflow: hidden;
	    max-height: 110px;
		padding: 0 20px;
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 34px;
		color: rgba(255, 255, 255, 0.8);
	}



	&.is-active {
		background-color: #dd3c30;
		.faq-item__header {
			&:after {
				content: "\e15c";
			}
		}


	}
}
