.faq {
	padding-top: 117px;
	background-image: url(../images/faqbg.png);
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.6s;

	h2 {
		margin-bottom: 60px;
	}

	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		transition: all 0.6s;

		.col-third {
			width: 33.3%;
			max-width: 372px;
			transition: all 0.6s;
		}
	}

	@include breakpoint(medium){

		.container {

			.col-third {
				width: 31.3%;
			}
		}
	}

	@include breakpoint(small){
		padding: 40px 0;
		background-size: cover;

		.container {
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.col-third {
				width: 100%;
				max-width: 700px;
			}
		}
	}

	@media (min-width: 2020px) {
		background-size: cover;

	}
}

