.features-elem {
  position: relative;
  max-width: 370px;
  padding-left: 100px;
  margin-bottom: 60px;

  i {
    position: absolute;
    top: -13px;
    left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    font-size: 64px;
    color: #cbcbcb;
  }

  h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 25px;
  }

  p {
    font-size: 20px;
    line-height: 34px;

  }

  @include breakpoint(small) {
    max-width: 800px;
    padding-left: 0;
    margin-bottom: 90px;
    text-align: center;

    i {
      top: -65px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}