.features {
  padding-top: 116px;
  padding-bottom: 0;
  background-color: #f1f1f1;

  .container {

    .container-col {
      display: flex;

      .container-col-half{
        position: relative;
        flex-basis: 50%;

        .col-square {
          position: relative;
          width: 100%;
          max-width: 570px;
          height: 100%;
          max-height: 485px;

          img {
            position: absolute;
            top: -23px;
            left: 50%;
            transform: translate(-50%);
          }

          .red {
            display: block;
            width: 50%;
            height: 100%;
            background-color: #f34235;
          }

          .blue {
            display: block;
            width: 50%;
            height: 100%;
            background-color: #5dbdfe;
          }
        }
      }
    }
  }

  @include breakpoint(small) {
    padding-top: 40px;

    .container {

      .container-col {
        display: block;

        .container-col-half {
          width: 100%;
        }

        .features-list {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      .col-square {
        display: flex;
        max-width: 100% !important;
        height: 600px !important;
        max-height: 600px !important;

        img {
          max-width: 120%;
        }

        .red {
          max-height: 435px;
        }
        .blue {
          max-height: 435px;
        }
      }
    }
  }
}