.how-it-works {
	padding-top: 77px;
	padding-bottom: 0;

	.container {

		.container-col {
			display: flex;

			.container-col-half {
				flex-basis: 50%;
				margin-bottom: 120px;

				h2 {
					padding-left: 10px;
					margin-top: 0;
					text-align: left;
				}

				p {
					padding-left: 10px;
					font-size: 20px;
					line-height: 34px;
					text-align: left;

				}

				.video-wrapper {
					max-width: 570px;
					height: 340px;

					iframe {
						width: 100%;
						height: 100%;
					}
				}

				.section-description {
					margin-bottom: 14px;
					color: #5dbdfe;
				}
			}
		}
	}

	.images-wrapper {
		display: flex;
		width: 100%;
		max-height: 360px;

		img {
			width: calc(100% / 4);
			object-fit: cover;
		}
	}

	@include breakpoint(small){

		.container {

			.container-col {
				flex-direction: column;

				.container-col-half {
					text-align: center;

					h2 {
						text-align: center;
					}

					.section-description {
						text-align: center;
					}

					p {
						text-align: center;
					}

					.video-wrapper {
						max-width: 800px;
						margin: 0 auto;
					}

					&:first-child {
						order: 2
					}

					&:last-child {
						order: 1;
					}
				}
			}
		}
	}

	@include breakpoint(extra-small){

		.images-wrapper {
			flex-direction: column;
			max-height: 100%;

			img {
				width: calc(100%);
				object-fit: cover;
			}
		}
	}
}
