.mobile-menu {
  position: fixed;
  top: 117px;
  left: 110px;
  z-index: 400;
  display: block;
  width: $buttonWidth;
  height: $buttonHeight;
  border-top: $lineThickness solid;
  border-bottom: $lineThickness solid;
  background: transparent;
  color: $buttonColor;
  font-size: 0;
  transition: all $transitionSpeed $transitionEasing;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    height: $lineThickness;
    background: currentColor;
    transform: translate(-50%, -50%);
    transition: transform $transitionSpeed $transitionEasing;
  }
  @include breakpoint(small){
    top: 20px;
    left: 20px;
  }
}


.mobile-menu.is-active {
  border-color: transparent;

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

#menu {
  z-index: 999;
}

.mobile-menu--contrast {

  color:#ff4538;
}



