.one-page-slider {

  .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none;

    p {
      max-width: 710px;
      margin-bottom: 43px;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      line-height: 31px;

    }

    img {
      width: 80px;
      height: 80px;
      margin-bottom: 30px;
      border-radius: 100%;
      border: none;
    }

    span {
      margin-bottom: 30px;
      font-size: 24px;
      font-weight: 400;
      line-height: 30px;
      color: #5dbdfe;
    }

    .slide-quote {
      margin-bottom: 17px;
      width: 51px;
      height: 61px;
    }
  }

  .slick-dots li button {

    &:before {
      content: '';
      background-color: #2c2c2c;
      border-radius: 100%;
      width: 10px;
      height: 10px;
    }
  }
}