.our-team {
	padding-bottom: 125px;

	h2 {
		margin-bottom: 60px;
	}

	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.team-person {
			max-width: 292.5px;
			padding: 0 15px;
			text-align: center;

			img {
				margin-bottom: 17px;
			}

			h3 {
				font-size: 24px;
				font-weight: 400;
				line-height: 46px;
			}

			span {
				font-size: 16px;
				font-weight: 900;
				line-height: 34px;
				color: #5dbdfe;
			}

			p {
				max-width: 239px;
				font-size: 20px;
				line-height: 34px;
			}

		}
	}

	@include breakpoint(medium){
		.container {
			justify-content: center;
		}
	}
	@include breakpoint(small){
		padding: 40px 0;

		.container {

			.team-person {
				margin-bottom: 30px;
			}
		}
	}
}