.partners {
  padding-top: 105px;
  padding-bottom: 110px;

  h2 {
    margin-bottom: 70px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    a {

      img{
        padding: 0 10px;
        opacity: 0.8;
        transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);

        &:hover {
          opacity: 1;
        }
      }
    }
  }
  @include breakpoint(small){
    padding: 40px 0;

    .container {
      justify-content: center;
    }
  }
}