.social-panel {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
  margin: 70px 0;

  .social-panel__elem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 100%;
    font-size: 25px;
    font-weight: normal;
    color: #fff;
    transition: all 0.4s;

    &:hover {
      border-radius: 4px;
    }
  }

  .facebook {
    background-color: #3b579d;
  }

  .twitter {
    background-color: #5ea9dd;
  }

  .google-plus {
    background-color: #df4a32;
  }

  @include breakpoint(extra-small){
    margin-bottom: 140px;
  }
}