.view-header {
  width: 100%;
  max-height: 1200px;
  padding-top: 111px;
  padding-bottom: 180px;
  background-image: url("../images/headerbg.jpg");
  background-size: cover;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;



    .view-header__info {
      text-align: center;
      color: #fff;

      h1 {
        margin-bottom: 130px;
        font-size: 62px;
        font-weight: 300;
        line-height: 40px;
        text-transform: uppercase;

        a {
          color: #fff;
          span {
            font-weight: 900;
          }
        }
      }
      .subtitle {
        font-size: 34px;
        line-height: 56px;
      }

      .subtitle--second {
        display: block;
        font-size: 112px;
        line-height: 120px;
        font-weight: 300;
      }

    }

    form {
      position: relative;
      display: flex;
      flex-direction: column;
      max-width: calc(370px - 60px);
      width: 100%;
      padding: 30px;
      border-radius: 3px;
      background-color: #dbdada;
      margin: 130px auto 0 auto;
      box-shadow: 0.5px 0.9px 13px rgba(0, 0, 0, 0.3);


      input {
        width: calc(100% - 40px);
        height: 51px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        padding: 0 20px;
        border-radius: 4px;
        background-color: #efeeee;
        font-size: 20px;
        line-height: 22px;
        transition: all 0.6s;
      }

      .form-elem {
        position: relative;


        input.error {
          margin-bottom: 28px;
        }

        label.error {
          position: absolute;
          bottom: 0px;
          right: 0;
          width: 100%;
          font-weight: normal;
          text-align: right;
          color: #ff0000;
          transform: translateY(-50%);
        }
      }

      input.error {
        border: 2px solid #ff0000;
      }


      button {
        width: 100%;
        height: 61px;
        background-color: #5dbdfe;
        margin-top: 10px;
        border-radius: 2px;
        border: none;
        font-size: 20px;
        line-height: 22px;
        color: #fff;
        box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
        transition: 200ms ease-in-out;

        &:hover {
          box-shadow: none;
        }
      }
    }
  }

  @include breakpoint(small) {
    padding: 60px 0;

    .container {

      .view-header__info {

        h1 {
          font-size: 50px;
          margin-bottom: 60px;
        }

        .subtitle {
          font-size: 40px;
        }

        .subtitle--second {
          font-size: 60px;
          line-height: 60px;
        }
      }

      form {
        margin-top: 60px;

        input {
          margin-bottom: 20px;
        }
        .form-elem {

          label.error{
            top: 65px;
            right: 0;
            width: 100%;
            padding: 0;
            border-radius: 0;
            background-color: transparent;
          }
        }
      }
    }
  }

  @include breakpoint(mobile-landscape){

    .container{

      form {
        max-width: 280px;
        padding: 30px 10px;

        input {
          width: calc(100% - 20px);
          padding: 0 10px;
        }
      }
      .view-header__info {

        .subtitle {
          font-size: 34px;
        }

        .subtitle--second {
          font-size: 45px;
          line-height: 60px;
        }
      }
    }
  }
}