@import "variables";
@import "fonts";
@import "typography";


body {
	position: relative;
	font-family: 'Lato';
}

body,button,ul,li,h3,p {
	margin: 0;
	padding: 0;
}
h2	{
	margin-top: 0;
	margin-bottom: 30px;
	text-align: center;
	font-size: 45px;
	line-height: 60px;
}
ul, li {
	list-style: none;
}

img {
	max-width: 100%;
}

button {
	border: none;
	cursor: pointer;
	outline: none;
}

