//@font-fase


@font-face {
	font-family: 'Oxygen';
	src: url(../fonts/Oxygen/oxygen-bold.ttf);
	src: url(../fonts/Oxygen/oxygen-bold.eot);
	src: url(../fonts/Oxygen/oxygen-bold.woff2);
	font-weight: bold;
	font-style: normal;	
}

@font-face {
	font-family: 'Oxygen';
	src: url(../fonts/Oxygen/oxygen-light.ttf);
	src: url(../fonts/Oxygen/oxygen-light.eot);
	src: url(../fonts/Oxygen/oxygen-light.woff2);
	font-weight: 300;
	font-style: normal;	
}

