//typography: base styles for fonts, p, a, standard h1, h2 ...

body {
	font-weight: 300;
	font-style: normal;
	color: #333;
}

a {
	text-decoration: none;
	color: black;
}



h2 {
	text-align: center;
	font-size: 45px;
	font-weight: normal;
	line-height: 60px;
	letter-spacing: 0px;
}

h3 {
	font-size: 24px;
	font-weight: 300;
	line-height: 30px;
}