.container {
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
  padding: 0 5px;

  @include breakpoint(medium) {
    padding: 0 20px;
  }

  @include breakpoint(extra-small) {
    padding: 0 10px;
  }
}

.full-section {
  padding: 130px 0;
  overflow: hidden;
}

.section-description {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 70px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 34px;
}

.section-shadow {
   box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.39);
}

